# Optimized for macOS

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon
Icon

# Thumbnails
._*

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Remote AFP share directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# iCloud files
*.icloud